a {
	font-family: Montserrat, sans-serif;
}

h1 {
	color: #154734;
	font-family: Montserrat, sans-serif;
	text-align: center;
}

.Centred {
	width: 500px;
	margin: auto;
	font-family: Montserrat, sans-serif;
}

.Left {
	width: 500px;
	font-family: Montserrat, sans-serif;
}